{% extends 'base.html' %}

{% block head %}
<title>PDX Trail</title>
{% endblock %}

{% block body %}

<div id="page1">
<p><span id="welcome">Welcome to PDX Trail!</span></p>
<span id="menu">
<p>You will lead a team of five to Portland.</p>
<p>Do you want to be: </p>
<ul>
    1. A homesteader with a packing lama. <br>
    2. A former tech worker with lots of camping gear. <br>
    3. A confident person with scavenged gear. <br>
</ul>
<input type="text" id="gameplay" maxlength="1">
<p id="try_again"></p></span>

</div>

{% endblock %}
