{% extends 'base.html' %}

{% block head %}
<title>Your Team</title>
{% endblock %}


{% block body %}
<div id="menu2">
<p>You will lead your team.</p>

<p>Choose a second character name: <input type="text" id="name2"> <br></p>
<p>Choose a third character name: <input type="text" id="name3"> <br></p>
<p>Choose a fourth character name: <input type="text" id="name4"><br></p>
<p>Choose a fifth character name: <input type="text" id="name5"><br><br></p>
<button id="names">Enter Names</button>
<p id="retry"></p>
</div>
{% endblock %}
